<h1>{{title}}</h1>
<p>Aquie empieza el recorrido por ciudad Angular</p>
<section class="dia-2">
  <app-saludo/>
  <app-perfil/>
</section>
<section class="dia-3">
  <nav>
    <a routerLink="/">Inicio</a>
    <a routerLink="/acerca">Acerca</a>
    <a routerLink="/contacto">Contacto</a>
  </nav>
  <hr>
  <router-outlet></router-outlet>
</section>
<section class="dia-4">
  <app-reaccion nombre="Alessandro" (mensaje)="recibiendoMensaje($event)"></app-reaccion>
  @if (mensajeRecibido) {
    <p>{{mensajeRecibido}}</p>
  }
</section>

